/*

css 3
reset
Comment structurer une css :
sélecteur, propriété, valeur

sélecteur{
    propriété : valeur
}

*/
html{
    /* 16px mult 100% = 10
    font-size: 16px; /* for size  rem root em */
    font-size: 62.5%;
}
body{
    font: 1.6rem sans-serif; /* for font  16px */
    margin: 0;
}
h1,
h2,
h3,h4,p,ol{ /* contexte css */
    margin: 0;
    padding: 0;
}

/* theme css */
header{
    background-color: #9333ea;
}
header h1{
    line-height: 4.5rem;/* 45px */
    text-align: center;
    color: #fff;
    font-weight: normal;
}